body {
  background:#000;
  color:#505050;
}

a:hover {
  color:#505050;
}

h3.underline {
  border-bottom:1px solid #505050;
}

h4.underline {
  border-bottom:1px solid #505050;
}

header {
  background:#000;
}

header .user:hover {
  background:#505050;
}

header nav li a {
  background:#505050;
}

.small-exercice {
  background:#000;
}

input,
select {
  background:#505050;
  color:#000;
}

.workout .settings h4 {
  border-bottom:1px solid #505050;
}

.workout .settings .current-state {
  border-bottom:1px solid #505050;
}

.main .settings .choices .choice .wrap {
  background:#505050;
  color:#000;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #505050;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #505050;
}
input[type=range]::-moz-range-track {
  background: #505050;
}
input[type=range]::-ms-fill-lower {
  background: #505050;
}
input[type=range]:focus::-ms-fill-lower {
  background: #505050;
}
input[type=range]::-ms-fill-upper {
  background: #505050;
}
input[type=range]:focus::-ms-fill-upper {
  background: #505050;
}
