body {
  background:#EA5837;
  color:#881414;
}

a:hover {
  color:#881414;
}

h3.underline {
  border-bottom:1px solid #881414;
}

h4.underline {
  border-bottom:1px solid #881414;
}

header {
  background:#EA5837;
}

header .user:hover {
  background:#881414;
}

header nav li a {
  background:#881414;
}

.small-exercice {
  background:#EA5837;
}

input,
select {
  background:#881414;
  color:#EA5837;
}

.workout .settings h4 {
  border-bottom:1px solid #881414;
}

.workout .settings .current-state {
  border-bottom:1px solid #881414;
}

.main .settings .choices .choice .wrap {
  background:#881414;
  color:#EA5837;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #881414;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #881414;
}
input[type=range]::-moz-range-track {
  background: #881414;
}
input[type=range]::-ms-fill-lower {
  background: #881414;
}
input[type=range]:focus::-ms-fill-lower {
  background: #881414;
}
input[type=range]::-ms-fill-upper {
  background: #881414;
}
input[type=range]:focus::-ms-fill-upper {
  background: #881414;
}
