<div class="exercise current">
  <div class="padding">
    <div class="core">
      <div class="name">
        <h1>{{ main.exercices[0].name }}</h1>
      </div>
      <div class="number">
        <h1>{{ main.exercices[0].reps }} reps</h1>
      </div>
      <div class="duration">
        <h1>{{ main.exercices[0].duration }} mins</h1>
      </div>
      <div class="upcoming">
        <h4>upcoming</h4>
        <h3>{{ main.exercices[1].reps }} {{ main.exercices[1].name }}</h3>
        <h4>skip to next <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></h4>
      </div>
    </div>
    <div class="exercice-list">
      <a href="" id="toggle-exercice-list">
        <h4 class="underline"><i class="fa fa-list"></i>See full list</h4>
      </a>
      <div class="all-exercices">
        <div class="small-exercice" ng-repeat="exercice in main.exercices">
          <div class="name">
            <h2>{{ exercice.name }}</h2>
          </div>
          <div class="number">
            <h2>{{ exercice.reps }} reps</h2>
          </div>
          <div class="duration">
            <h2>{{ exercice.duration }} mins</h2>
          </div>
          <a href=""><div class="action move"><i class="fa fa-arrows-v"></i></div></a>
          <a href=""><div class="action regenerate"><i class="fa fa-refresh"></i></div></a>
          <a href=""><div class="action delete"><i class="fa fa-times"></i></div></a>
        </div>
      </div>
    </div>
    <div class="schema">
    </div>
    <div class="explication">
      <h4 class="underline">How to</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida libero turpis, nec mattis odio imperdiet at. Maecenas venenatis tincidunt lacinia. Phasellus finibus augue metus, vel lobortis dui rutrum vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus semper ut augue vel eleifend. Ut fermentum lacus dolor, id tincidunt justo pretium ac. Duis feugiat tortor mauris, id porttitor felis imperdiet id.
    </div>
  </div>
</div>
