<div class="generate">
  <div class="settings">
    <div class="padding">
        <div class="type">
          <label>type</label>
          <select>
            <option>warm up</option>
            <option>cardio</option>
            <option>muscu</option>
          </select>
        </div>
        <div class="intensity">
          <label>intensity</label>
          <input type="range">
        </div>
        <div class="duration">
          <label>duration</label>
          <input type="range">
        </div>
        <div class="body-parts">
          <label>body parts</label>
          <div class="choices">
            <div class="choice">
              <div class="wrap">
                <input type="checkbox"><label>arms</label>
              </div>
            </div>
            <div class="choice">
              <div class="wrap">
                <input type="checkbox"><label>legs</label>
              </div>
            </div>
            <div class="choice">
              <div class="wrap">
                <input type="checkbox"><label>back</label>
              </div>
            </div>
            <div class="choice">
              <div class="wrap">
                <input type="checkbox"><label>abs</label>
              </div>
            </div>
          </div>
          <div class="generate-button">
            <a href="">
              <h4><i class="fa fa-refresh"></i> generate</h4>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
