<div class="profile">
  <div class="user-big">
    <div class="wrap">
      <div class="name">
        <h3  class="underline">Tommy Poirier-Morissette</h3>
      </div>
      <h4 class="underline"><i class="fa fa-folder"></i>my pics</h4>
      <h4 class="underline"><i class="fa fa-camera"></i>take a new one</h4>
      <div class="profile-pic">
        <img src="">
      </div>
    </div>
  </div>
  <div class="data">
    <div class="wrap">
      <div class="biometrics">
        <h4 class="underline"><i class="fa fa-heart"></i>biometrics</h4>
      </div>
      <div class="stats">
        <h4 class="underline"><i class="fa fa-bar-chart"></i>workout stats</h4>
      </div>
      <div class="favorites">
        <h4 class="underline"><i class="fa fa-plus"></i>favorites</h4>
      </div>
      <div class="backlog">
        <h4 class="underline"><i class="fa fa-arrow-left"></i>backlog</h4>
      </div>
    </div>
  </div>
</div>
