<div class="wrap">
    <h4 class="underline">Create Activity</h4>

    <form class="regular-form">
        <label for="activity-date">Date</label>
        <input id="activity-date" type="datetime-local" ng-model="activity.date" required>
        <label for="activity-duration">Duration</label>
        <input id="activity-duration" type="time" ng-model="activity.duration" required>
        <label for="activity-repetition">Repetiion</label>
        <input id="activity-repetition" type="number" ng-model="activity.repetition" required>
    </form>
</div>
